* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: beige;
    height: 100vh;
    /* overflow: hidden; */
}

h1 {
    text-align: center;
    color: teal;
    margin: 20px;
}

form {
    text-align: center;
    padding: 10px;
    margin: 10px;
}

input {
    border: 1px solid grey;
    border-radius: 10px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#nomJoueur1:hover, #nomJoueur2:hover {
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease-out;
}

select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=submit] {
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-color: teal;
}

#fenetrePrincipale {
    display: grid;
    visibility: hidden;
    grid-template-columns: 1fr;
    grid-template-rows: 170px 270px auto;
    grid-template-areas: 
        "score"
        "boutons"
        "graphe";
    justify-content: justify;
    align-content: justify;
}

.grillePanneauScore {
    display: grid;
    max-height: 150px;
    min-width: 400px;
    margin: 10px;
    text-align: center;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "nomsJoueurs points set1 set2 set3"
        "affichageNomJoueur1 scoreJeuJoueur1 scoreSet1Joueur1 scoreSet2Joueur1 scoreSet3Joueur1"
        "affichageNomJoueur2 scoreJeuJoueur2 scoreSet1Joueur2 scoreSet2Joueur2 scoreSet3Joueur2";
    grid-area: score;
}

.celluleScore {
    position: relative;
    font-weight: bold;
}

.celluleScore:nth-child(-n+5) {
    background-color: teal;
}

.celluleScore:nth-child(1) {
    border-radius: 15px 0 0 15px;
}

.celluleScore:nth-child(5) {
    border-radius: 0 15px 15px 0;
}

.celluleScore:nth-child(n+6):nth-child(-n+15) {
    background-color: rgba(0, 0, 0, 0.2);
}

.celluleScore:nth-child(6) {
    border-radius: 15px 0 0 0;
}

.celluleScore:nth-child(10) {
    border-radius: 0 15px 0 0;
}

.celluleScore:nth-child(11) {
    border-radius: 0 0 0 15px;
}

.celluleScore:nth-child(15) {
    border-radius: 0 0 15px 0;
}

#nomsJoueurs {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
    grid-area: nomsJoueurs;
}

#points {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
    grid-area: points;
}

#set1 {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
    grid-area: set1;
}

#set2 {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
    grid-area: set2;
}

#set3 {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
    grid-area: set3;
}

#affichageNomJoueur1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-area: affichageNomJoueur1;
}

#scoreJeuJoueur1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-area: scoreJeuJoueur1;
}

#jeuSet1Joueur1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-area: scoreSet1Joueur1;
}

#jeuSet2Joueur1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-area: scoreSet2Joueur1;
}

#jeuSet3Joueur1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-area: scoreSet3Joueur1;
}

#affichageNomJoueur2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-area: affichageNomJoueur2;
}

#scoreJeuJoueur2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-area: scoreJeuJoueur2;
}

#jeuSet1Joueur2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-area: scoreSet1Joueur2;
}

#jeuSet2Joueur2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-area: scoreSet2Joueur2;
}

#jeuSet3Joueur2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-area: scoreSet3Joueur2;
}

#panneauBoutons {
    display: grid;
    align-items: center;
    max-height: 250px;
    min-width: 400px;
    margin: 10px;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "j1 j2"
        "pj1 pj2"
        "mj1 mj2"
        "annuler annuler";
    grid-area: boutons;
}

#affNomJoueur1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: mediumseagreen;
    margin: 0;
    padding: 5px;
    grid-area: j1;
}

#affNomJoueur2 {
    font-size: 1.5rem;
    font-weight: bold;
    color : steelblue;
    margin: 0;
    padding: 5px;
    grid-area: j2;
}

#plusJoueur1 {
    background-color: mediumseagreen;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px;
    padding: 5px;
    grid-area: pj1;
    border-radius: 15px;
    border: none;
}

#moinsJoueur1 {
    background-color: mediumseagreen;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px;
    padding: 5px;
    grid-area: mj1;
    border-radius: 15px;
    border: none;
}

#plusJoueur2 {
    background-color: steelblue;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px;
    padding: 5px;
    grid-area: pj2;
    border-radius: 15px;
    border: none;
}

#moinsJoueur2 {
    background-color: steelblue;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px;
    padding: 5px;
    grid-area: mj2;
    border-radius: 15px;
    border: none;
}

#annuler {
    background-color: teal;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px;
    padding: 5px;
    grid-area: annuler;
    border-radius: 15px;
    border: none;
}

#plusJoueur1:hover, #plusJoueur2:hover, #moinsJoueur1:hover, #moinsJoueur2:hover, #annuler:hover {
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease-out;
}

#graphe {
    margin: 10px;
    max-height: 450px;
    grid-area: graphe;
}

@media screen and (min-width: 700px) {
    #fenetrePrincipale {
        display: grid;
        visibility: hidden;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            "score graphe"
            "boutons graphe"
            ". graphe";
    }
}